@model Comment




<div class="reviews-members py-2">
    <div class="media">
        <a href="#"><img alt="#" src="" class="mr-3 rounded-pill"></a>
        <div class="media-body">
            <div class="reviews-members-header">
                <div class="star-rating float-right">
                    @*<div class="d-inline-block" style="font-size: 14px;"><i class="feather-star text-warning"></i>
                        <i class="feather-star text-warning"></i>
                        <i class="feather-star text-warning"></i>
                        <i class="feather-star text-warning"></i>
                        <i class="feather-star"></i>
                    </div>*@
                </div>
                <h6 class="mb-0"><a class="text-dark" href="#">@Model.Customer.Name @Model.Customer.SurName</a></h6>
                <p class="text-muted small">@Model.CreatedDate.ToShortDateString()</p>
            </div>
            <div class="reviews-members-body">
                <p>@Model.Content</p>
            </div>
            @*<div class="reviews-members-footer"><a class="total-like btn btn-sm btn-outline-primary" href="#"><i
                        class="feather-thumbs-up"></i> 856M</a> <a class="total-like btn btn-sm btn-outline-primary"
                    href="#"><i class="feather-thumbs-down"></i> 158K</a>
                <span class="total-like-user-main ml-2" dir="rtl">
                    <a href="#" aria-describedby="tooltip-top0"><img alt="#" src="~/img/reviewer3.png"
                            class="total-like-user rounded-pill"></a>
                    <a href="#" aria-describedby="tooltip-top1"><img alt="#" src="~/img/reviewer4.png"
                            class="total-like-user rounded-pill"></a>
                    <a href="#"><img alt="#" src="~/img/reviewer5.png" class="total-like-user rounded-pill"></a>
                    <a href="#" aria-describedby="tooltip-top3"><img alt="#" src="~/img/reviewer6.png"
                            class="total-like-user rounded-pill"></a>
                </span>
            </div>*@
        </div>
    </div>
</div>
<hr>
