@model RegisterCompanyVM

@{
    ViewData["Title"] = "Register Company";
	Layout = null;
}



<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Register</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/src/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/src/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/src/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/src/styles/core.css">
	<link rel="stylesheet" type="text/css" href="~/src/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/src/styles/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				
				<h1>Delivery</h1>
					@*<img src="~/src/images/deskapp-logo.svg" alt="">*@
				
			</div>
			<div class="login-menu">
				<ul>
					<li><a asp-action="login">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="~/src/images/login-page-img.png" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Register</h2>
						</div>
						<form method="post" enctype="multipart/form-data" >

								<span asp-validation-for="Name" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="Name" class="form-control form-control-lg" placeholder="Company name">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

								<span asp-validation-for="Adress" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="Adress" class="form-control form-control-lg" placeholder="Company adress">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="PhoneNumber" class="form-control form-control-lg" placeholder="Company phone number">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

							

								<span asp-validation-for="Email" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

							<div class="form-group custom">
								<label for="StartJob" class="col col-form-label">Start job time</label>
								<div class="col-sm-12 col-md-10">
									<input name="StartJob" class="form-control time-picker" placeholder="Select time" type="text">
								</div>
							</div>

							<div class="form-group custom">
								<label for="EndJob" class="col col-form-label">End job time</label>
								<div class="col-sm-12 col-md-10">
									<input name="EndJob" class="form-control time-picker" placeholder="Select time" type="text">
								</div>
							</div>

								<span asp-validation-for="Photo" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="Photo" class="form-control form-control-lg" >
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

								<span asp-validation-for="Password" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

							<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
							<div class="input-group custom">
								<input asp-for="PasswordConfirm" class="form-control form-control-lg" placeholder="Confirm Password">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>

								
							
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group mb-0">
										<!--
											use code for form submit
											<input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
										-->
										<button type="submit" class="btn btn-primary btn-lg btn-block" >Sign Up</button>
									</div>
									<div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR</div>
									<div class="input-group mb-0">
										<a class="btn btn-outline-primary btn-lg btn-block" asp-action="login">Have an Account?</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="~/src/scripts/core.js"></script>
	<script src="~/src/scripts/script.min.js"></script>
	<script src="~/src/scripts/process.js"></script>
	<script src="~/src/scripts/layout-settings.js"></script>
@*
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@


	</body>
</html>

