@model CategoryUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Default Basic Forms Start -->
				<div class="">
				<div class="pd-20 card-box mb-30 ">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Your new Category</h4>
						</div>
					</div>
					<form  method="post" enctype="multipart/form-data" >

						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Select Parent category</label>
							<div class="col-sm-12 col-md-10">
								<select asp-for="ParentId" asp-items="@ViewBag.Categories" class="custom-select col-12">
									<option value="" selected="">Self Parent</option>
									
								</select>
							</div>
						</div>

						<span asp-validation-for="Name" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Category Name</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Name" class="form-control"  placeholder="Category name">
							</div>
						</div>
						
						<span asp-validation-for="Photo" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Category Image</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Photo" class="form-control"  >
							</div>
						</div>

						<button type="submit" class="btn btn-success">Create</button>
					</form>
					
				</div>
				</div>
				<!-- Default Basic Forms End -->

							@section Scripts{
				 
				}
