@model ProductCreateVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




				<!-- Default Basic Forms Start -->
				<div class="">
				<div class="pd-20 card-box mb-30 ">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Your new Product</h4>
						</div>
					</div>
					<form  method="post" enctype="multipart/form-data" >

						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Select Category</label>
							<div class="col-sm-12 col-md-10">
								<select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="custom-select col-12">
									
								</select>
							</div>
						</div>

						<span asp-validation-for="Name" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Name</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Name" class="form-control"  placeholder="Product name">
							</div>
						</div>

						<span asp-validation-for="StockCount" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Stock count</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="StockCount" class="form-control"  placeholder="Stock count">
							</div>
						</div>

						<span asp-validation-for="Price" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Price</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Price" class="form-control"  placeholder="Price ">
							</div>
						</div>
						
						<span asp-validation-for="Photo" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Category Image</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Photo" class="form-control"  >
							</div>
						</div>

						<span asp-validation-for="Description" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Description</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Description" class="form-control"  placeholder="Description ">
							</div>
						</div>

						<button type="submit" class="btn btn-success">Create</button>
					</form>
					
				</div>
				</div>
				<!-- Default Basic Forms End -->

							@section Scripts{
				 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
				 <!-- Asp Jquery Validation cdn-->
				 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

				}



