@model CustomerResponse

<div>
        @if (User.Identity.IsAuthenticated)
    {
      <a asp-controller="auth" asp-action="login" class="widget-header mr-4 text-white m-none">
        <div class="icon d-flex align-items-center">
        <i class="feather-user h6 mr-2 mb-0"></i> <span>Sign in</span>
        </div>
      </a>
    }
    else
    {
        <div class="dropdown mr-4 m-none">
        <a href="#" class="dropdown-toggle text-white py-3 d-block" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="#" src="img/user/1.jpg" class="img-fluid rounded-circle header-user mr-2 header-user"> Hi @Model.Name
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="profile.html">My account</a>
        <a class="dropdown-item" href="faq.html">Delivery support</a>
        <a class="dropdown-item" href="contact-us.html">Contant us</a>
        <a class="dropdown-item" href="terms.html">Term of use</a>
        <a class="dropdown-item" href="privacy.html">Privacy policy</a>
        <a class="dropdown-item"  asp-controller="auth" asp-action="logout">Logout</a>
        </div>
        </div>
    }
</div>
<div></div>

